<div id="mark_<%= @book.id%>">
  <% if @marked_book && @marked_book.mark_type.present? %>
    <%= render "marks/unfavorite", book: @book, marked_book: @marked_book  %>
  <% else %>
    <%= render "marks/favorite", book: @book, user_book: @user_book %>
  <% end %>
</div>
